---
layout: hub
title: About
permalink: /about/
---
    <section class="about-row">
        {% include sections/about.html %}
    </section>
    <section class="about-row">
        {% include sections/projects.html %}
    </section>
    <section class="about-row">
        {% include sections/skills.html %}    
    </section>
    <section class="about-row">
        {% include sections/career.html %}    
    </section>
    <section class="about-row">
        {% include sections/education.html %}    
    </section>
