---
layout: hub
title: Notes
permalink: /notes/
---
{% assign courses = site.categories.notes | group_by: "course" | sort: "date" %}

<div class="notes">
  {% for course in courses %}
  <h4 class="course___title">{{ course.name }}</h4>
  <ul class="course">
  {% for note in course.items %}
    <li class="note">
      <a href="{{ site.url }}{{ note.url }}.html" title="{{ note.topic }}">
        <h6 class="note___date">{{ note.date | date_to_string }}</h6>
        <label class="note___link">{{ note.topic }}</label>
      </a>
    </li>
  {% endfor %}
  </ul>

  {% endfor %}
</div>
