.terminal-title {
  height: 80px;
  margin: 0 0 20px 0;
}

.typed-cursor {
  font-weight: 300;
  margin-left: 5px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink .9s infinite;
  -moz-animation: blink .9s infinite;
  animation: blink .9s infinite;
}

@keyframes blink {
  0% {
        opacity:1;
  }
  50% {
        opacity:0;
  }
  100% {
        opacity:1;
  }
}

@-webkit-keyframes blink {
  0% {
        opacity:1;
  }
  50% {
        opacity:0;
  }
  100% {
        opacity:1;
  }
}

@-moz-keyframes blink {
  0% {
        opacity:1;

  }
  50% {
        opacity:0;
  }
  100% {
        opacity:1;
  }
}
