// Post listing
.image-credit {
  float: right;
  font-size: .86em;
  //color: black;
}

// Post Section
.post {
  margin: 20px 0;
}

// Back home button

.back-home a {
  font-size: 13px;
  font-weight: bold;
  //color: $info;
  border: 1px solid lighten($text-color, 45%);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

// Post title
.post-title a {
  color: $accent;
}

.post-title-link {
	//color: $primary;
	font-size: 14px;
	margin-left: 10px;
	&:hover,
	&:focus {
		//color: lighten($primary, 14%);
	}
}

// Post meta
.post-meta {
  font-weight: bold;
  margin: 0;
	.post-date {
		//color: $secondary;
	}
	.post-author {
		text-transform: uppercase;
		//color: $warning;
	}
  .post-cat {
		text-transform: uppercase;
		//color: $warning;
	}
  .read-time {
    //color: $primary;
  }
}
.post-title {
  margin: 0 0 15px 0;
  text-shadow: none;
}

// Read more buttons

a.read-more {
  padding: 5px 8px;
}

// Post content

#post {
  padding-bottom: 30px;
  margin: auto;
  max-width: 740px;
  .post-header {
    margin: 0 auto 50px;
  }
}

#post h1 {
  font-size: 2.8em;
  line-height: 32px;
  margin: 60px 0 15px 0;
}
#post h2 {
  margin: 0 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
#post h3 {
  margin: 1.75em 0 1.2em;
  position: relative;
}

#post .post-content p {
  font-size: 1.2em;
  line-height: 1.58;
  letter-spacing: -.003em;
  //color: rgba(0,0,0,0.84);
  @include media-query($medium-screen) {
    font-size: 1.4em;
    line-height: 1.58;
    letter-spacing: -.004em;
  }
}

#page {
  padding-bottom: 50px;
  min-height: 70vh;
  .page-header {
    margin: 0 auto 50px;
  }
}

.post-navigation {
  background-color: #f6f6f6;
  @include box-shadow;
}
.post-nav-prev,
.post-nav-next {
  min-height: 10px;
  width: 100%;
}
.post-nav-next {
  text-align: right;
}
.post-nav-btn {
  width: 100%;
  padding: 20px 30px;
  .post-nav-text {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }
  .table-cell {
    vertical-align: middle;
  }
}
.blog-feature {
  display: flex;
  flex-direction: column;
  @include media-query($small-screen) {
    flex-direction: row;
  }
}
.image-feature-holder {
  display: flex;
  justify-content: center;
}
.blog-image-feature {
  display: inline-block;
  flex-direction: column;
  .feature-image {
    max-height: 400px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
  }
}
.post-image-feature {
  display: block;
  img {
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    max-height: 300px;
  }
  @include media-query($small-screen) {
    margin-right: 20px;
  }
}
.post-description {
  display: flex;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
}

// Shares Buttons
.share-buttons {
  padding-top: 30px;
  border-top: 1px solid #ddd;
  h6 {
    max-width: 740px;
    margin: 10px auto;
  }
  ul {
    max-width: 740px;
    margin: 20px auto 0 auto;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 0.5em;
      span {
        display: none;
        @include media-query($small-screen) {
          display: inline;
          margin: 0.5em;
        }
      }
    }
  }
}
.twitter {
  background-color: #77bcf1;
  color: #fff;
  border-color: #77bcf1;
  &:visited {
    color: #fff;
    border-color: #77bcf1;
  }
  &:hover {
    background-color: #fff;
    color: #77bcf1;
    border-color: #77bcf1;
  }
}
.facebook {
  background-color: #627aac;
  color: #fff;
  border-color: #627aac;
  &:visited {
    color: #fff;
    border-color: #627aac;
  }
  &:hover {
    background-color: #fff;
    color: #627aac;
    border-color: #627aac;
  }
}
.google-plus {
  background-color: #e36f60;
  color: #fff;
  border-color: #e36f60;
  &:visited {
    color: #fff;
    border-color: #e36f60;
  }
  &:hover {
    background-color: #fff;
    color: #e36f60;
    border-color: #e36f60;
  }
}
.hacker-news {
  background-color: #f60;
  color: #fff;
  border-color: #f60;
  &:visited {
    color: #fff;
    border-color: #f60;
  }
  &:hover {
    background-color: #fff;
    color: #f60;
    border-color: #f60;
  }
}
.reddit {
  background-color: #5f99cf;
  color: #fff;
  border-color: #5f99cf;
  &:visited {
    color: #fff;
    border-color: #5f99cf;
  }
  &:hover {
    background-color: #fff;
    color: #5f99cf;
    border-color: #5f99cf;
  }
}
